body,
html {
    padding: 0;
    margin: 0;
}
body {
    padding-top: 90px;
    font-family: 'Open Sans', sans-serif;
    background: #efefef;
}
header.main-header {
    background: #443c3c;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
header.main-header h1 {
    color: #fff;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    vertical-align: middle;
    padding: 0 10px 8px;
}
.version {
    color: #fff;
    display: inline-block;
    font-size: 12px;
}
div.status-bar {
    background: #000000;
}
.app-status {
    font-size: 11px;
    color: #fff;
}
#tasks-list {
    list-style: none;
    margin-left: 0;
    text-align: center;
}
#tasks-list > li {
    border: 3px solid tomato;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 4px 1px #E0E0E0;
    -webkit-transition: border-color 0.5s ease-out;
    transition: border-color 1s ease-out;
    text-align: left;
}
#tasks-list > li > span {
    display: inline-block;
    color: #5d5c5c;
}
#tasks-list > li > div > a {
    padding: 5px;
    margin: 10px;
    background: #fd6c6c;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}
#tasks-list > li > div > a:first-child {
    margin-left: 0;
}
#tasks-list > li.remove-border {
    border-color: #fff;
}
.main-section{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}
div.status-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
}
#add-new-task {
    padding: 10px;
    height: 23px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    margin-left: 30px;
    width: 300px;
}